Old_Skeletonization/
new_video.py
model_tester.ipynb
live_predict.py
model_test.ipynb
DATA/repare_data.py
DATA/Backup_French_labels
DATA/Videos_initiales
.ipynb_checkpoints/
DATA/.ipynb_checkpoints/
HTML_notebook/
__pycache__/
Interface_Test.py
DATA/data_fabrication.py
DATA/treatment.py
model_experiences.ipynb
Sources/
Rapports/
TODO_LIST.txt
